<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.catshouse.MyAplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Financas"
        tools:targetApi="31">
        <activity
            android:name=".view.MovimentoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Financas.NoActionBar" />
        <activity
            android:name=".view.ReceitaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TemaReceita" />
        <activity
            android:name=".view.DespesaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TemaDespesa" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.TelaPrincipalActivity"
            android:exported="false"
            android:label="@string/title_activity_tela_principal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Financas.NoActionBar" />
        <activity
            android:name=".view.CadastroActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.catshouse.finance.view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>